.wrapper{
  margin: 0 auto;
  display:flex;
  justify-content: center;
  width:200px;
  flex-direction: column;
  position:relative;
}

.choosing-game{
  display:flex;
  justify-content: space-between;
}

.choose-side{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.choose-side__label{
  color:lightseagreen;
  font-weight: 700;
  width: 50%;
}

.game-table{
  margin:0 auto;
  box-shadow: 2px 2px 0 0 #ccc;
}

.game-table__row{
  display:flex;
}

.game-cell{
  width:50px;
  height:50px;
  border:1px solid #ccc;
  line-height: 50px;
  text-align: center;
  font-size:45px;
  color:blue;
}

.game-cell--type-o{
  color:red;
}

.winner{
  color: lightseagreen;
  font-weight: bold;
  text-shadow: 1px 1px #ccc;
  font-size: 62px;
  position: absolute;
  white-space: nowrap;
  margin: auto;
  text-align: center;
  left: -90px;
  right: -90px;
  top: 118px;
  opacity: 3.5;
  background-color: rgba(255,255,255,0.9);
}

.reset{
  position: absolute;
  right:-20px;
  top:12px;
  border-radius: 4px;
}

.choosing-game-btn{
  padding:8px 10px;
  border-radius: 8px;
  box-shadow:1px 1px 0 0 #ccc;
  font-size:16px;
  min-width:30px;
}

.caption{
  text-shadow: 1px 1px #ccc;
}

.winner-enter {
  opacity: 0.01;
}

.winner-enter.winner-enter-active {
  opacity: 0.8;
  transition: opacity 800ms ease-in;
}

.winner-leave {
  opacity: 0.8;
}

.winner-leave.winner-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}